page
    height 100%
    overflow hidden
.bg
    position absolute
    left 0
    top 0
    width 100%
.main
    position absolute
    left 0
    top 0
    width 100%
    height 100%
.btn_wrap
    padding 400rpx 100rpx
.forgot
    font-size 24rpx
    font-weight 400
    color #31313F
    line-height 34rpx
    border-bottom 1px solid #31313F