page 
    background: #fff
.top-wrap
    background: #fff
// 搜索
.input-wrap
    width 100%
    padding 0 28rpx 0 0
    height 64rpx
    background #f7f5f6
    border-radius 36rpx
    box-sizing border-box
.search-img
    padding 15rpx 0 15rpx 28rpx
    width 30rpx
    height 30rpx
    flex-shrink 0
.inp-left
    width 100%
.search-inp
    height 100%
    width 100%
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 8rpx 20rpx 20rpx
    flex-shrink 0
.add
    color #1677FE
    font-size 28rpx
    padding-left 16rpx
    flex-shrink 0
.title
    position relative
    color #31313f
    font-size 28rpx
    font-weight 500
    padding-left 46rpx
    height 96rpx
    line-height: 96rpx
.title::before
    content ''
    display block
    width 6rpx
    height 24rpx
    background #1677FE
    border-radius 6rpx
    position absolute
    left 24rpx
    top 50%
    transform translateY(-50%)
.item
    padding-left 24rpx
.time-img
    width 26rpx
    height 26rpx
.item-btn
    position: absolute
    top: 40rpx
    right 24rpx
    view 
        width 120rpx
        height 58rpx
        border-radius 6rpx
        border 1px solid #1677FE
        color #1677FE
        font-size: 24rpx
        line-height: 58rpx
        text-align center