page
    background #fff
    padding-bottom 100rpx
.item
    padding-left 25rpx
.item-left
    font-size 28rpx
    color #31313f
    width 142rpx
.item-right
    width 560rpx
    min-height 88rpx
    border-bottom 1px solid #f1eff0
.item-right-text
    height 100%
    width 500rpx
    font-size 28rpx
    color #31313f
    line-height 88rpx
.item-right-text2
    min-height: 44rpx
    width 500rpx
    font-size 28rpx
    color #31313f
    line-height 44rpx
.pl
    color #BABABA
.logo_img
    width 48rpx
    height 48rpx
    border-radius 24rpx
.arrow-right
    width 24rpx
    height 24rpx
    position absolute
    top 50%
    right 24rpx
    transform translateY(-50%)
    z-index 100
.select
    margin-left 50rpx
    image
        width 36rpx
        height 36rpx
    view
        margin-left 10rpx
        font-size 28rpx
        color #31313f
.area-wrap
    height 244rpx
    background rgba(247, 245, 246, 1)
    border-radius 16rpx
    padding 20rpx
    box-sizing border-box
    textarea
        width 600rpx
        font-size 28rpx
        color #31313f
        height 200rpx
        margin-left 5rpx
        font-size 24rpx
.pl2
    font-size 24rpx
    color #bababa
.edit
    width 28rpx
    height 28rpx
