.tabbar
    position fixed
    left 0
    bottom 0
    width 100%
    height 100rpx
    background #ffffff
.tabbar-img
    width 50rpx
    height 50rpx
.text
    font-size 20rpx
    color #999999
    margin-top 8rpx
    text-align center
.curr-text
    color #1677FE