page 
    background: #ffffff
.top
    height 72rpx
    position fixed
    width 100%
    left 0
    top 0
    z-index 100
.top-item
    widows 50%
    text-align center
    line-height 72rpx
    color #31313F
    font-size 30rpx
.curr-top
    font-weight 500
    color #1677FE
.curr-top::after
    display block
    content ''
    width 102rpx
    height 4rpx
    background rgba(22, 119, 254, 1)
    border-radius 5rpx
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
.main
    margin-top 72rpx
.add-top
    padding 24rpx 0 32rpx 24rpx
.xing
    color #FF662E
.i-item-l
    width 200rpx
    margin-right 16rpx
.i-item-inp
    width 480rpx
    height 72rpx
    background #F7F5F6
    border-radius 8rpx
    padding-left: 20rpx
    box-sizing: border-box
.pl
    color #999999
.w150
    width: 150rpx
.w96
    width 96rpx
.del-img
    width 28rpx
    height 28rpx
    padding 20rpx
.add-btn-wrap-top
    padding 30rpx 100rpx
.add-btn-top
    height 70rpx
    border 1px solid #1677FE
    border-radius 8rpx
    image
        width 28rpx
        height 28rpx
    view 
        font-size: 28rpx
        color #1677FE
.sel-img
    width 32rpx
    height 32rpx   
.add-btn-wrap
    padding 20rpx 58rpx
    heiht 84rpx
    position fixed
    left 0
    bottom 0
    width: 100%
    box-sizing: border-box
.add-btn
    width 300rpx
    height 80rpx
    background #fff
    border-radius 46px
    border 1px solid #1677FE
    line-height 80rpx
    text-align center
    // box-sizing border-box
    color #1677FE
    font-size 32rpx
    font-weight 500
.add-btn2
    color #ffffff
    background: #1677FE

.c-date-img2
    position absolute
    top 50%
    right 20rpx
    transform translateY(-50%)
.time-wrap
    width 480rpx
    background #f7f5f6
    height 72rpx
    border-radius 8rpx
    box-sizing border-box
    view
        height 100%
        line-height 72rpx


// 红包记录
.search-box
    padding 25rpx 25rpx
    background #ffffff
    width 100%
    height 114rpx
    box-sizing border-box
.input-wrap
    width 100%
    padding 0 28rpx 0 0
    height 64rpx
    background #F1EFF0
    border-radius 36rpx
    box-sizing border-box
.search-img
    padding 15rpx 0 15rpx 28rpx
    width 30rpx
    height 30rpx
    flex-shrink 0
.inp-left
    width 100%
.search-inp
    height 100%
    width 100%
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 0 20rpx 20rpx
    flex-shrink 0

.item
    padding 25rpx 0
.tag
    width 84rpx
    height 32rpx
    border-radius 20rpx
    border 1px solid #CFCECE
    color #999999
    font-size: 20rpx
    text-align center
.tag2
    color #1677FE
.time-img
    width 26rpx
    height 26rpx
    margin-right 10rpx
.item-text
    margin-top 12rpx
    width: 400rpx
.item-btn-wrap
    position absolute
    top 50%
    right 25rpx
    transform translateY(-50%)
.item-btn
    width 120rpx
    height 58rpx
    border-radius 6rpx
    border 1px solid #1677FE
    line-height: 58rpx
    text-align center
    color #1677FE
    font-weight 400
    font-size: 24rpx
.item-btn2
    color #ffffff
    background: #1677FE

