page 
    background: #ffffff
.top
    height 72rpx
    position fixed
    width 100%
    left 0
    top 0
    z-index 100
.top-item
    widows 50%
    text-align center
    line-height 72rpx
    color #31313F
    font-size 30rpx
.curr-top
    font-weight 500
    color #1677FE
.curr-top::after
    display block
    content ''
    width 102rpx
    height 4rpx
    background rgba(22, 119, 254, 1)
    border-radius 5rpx
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
.main
    margin-top 72rpx