page 
    background: #fff
.item
    padding-left 25rpx
    height 88rpx
    input
        font-size 28rpx
        width 590rpx
        height 100%
        background none
    view 
        width 120rpx
        font-size: 28rpx
        color #31313f
.pl
    color #BABABA
.btn_wrap
    padding 134rpx 100rpx
