page 
    background: #ffffff
    padding-bottom 200rpx
.wrap
    padding-left 24rpx
.item-l
    width 150rpx
.item-r
    width 558rpx
    padding 24rpx 0
    line-height: 40rpx
    border-bottom solid 1rpx #f1eff0
.area
    width 534rpx
    height 142rpx
    background #F7F5F6
    border-radius 8rpx
    font-size: 24rpx
    line-height: 34rpx
    padding 20rpx
    box-sizing: border-box
    overflow: auto
.item-img
    width 166rpx
    height 166rpx
    margin-right 18rpx
    border-radius: 8rpx


.add-btn-wrap
    padding 20rpx 58rpx
    heiht 84rpx
    position fixed
    left 0
    bottom 0
    width 100%
    box-sizing border-box
    background #fff
.add-btn
    width 304rpx
    height 80rpx
    background #fff
    border-radius 46px
    border 2px solid #1677FE
    line-height 80rpx
    text-align center
    // box-sizing border-box
    color #1677FE
    font-size 32rpx
    font-weight 500
.add-btn2
    color #ffffff
    background #1677FE



.mask
    width: 100%
    height 100%
    position: fixed
    left 0
    top: 0
    background rgba(0, 0, 0, .5)
.mask-main
    width 540rpx
    border-radius: 18rpx
    background: #ffffff
    position: fixed
    left 50%
    top 40%
    transform: translate(-50%,-50%)
.area-wrap 
    padding:25rpx;
    textarea
        width 450rpx
        font-size 28rpx
        color #31313f
        height 200rpx
        margin-left 5rpx
        font-size 24rpx
        padding 0 !important
        margin-left 18rpx
        line-height: 44rpx
.pl2
    font-size 24rpx
    color #999999
.edit
    width 28rpx
    height 28rpx
.m-btn-w
    font-size: 32rpx
    view 
        width 50%
        text-align center
        line-height: 90rpx
        color #262626
.m-btn-sure
    color #2196F3 !important