page 
    height 100%
wrap
    height 100%
    overflow hidden
.bg
    position absolute
    left 0
    top 0
    width 100%
.main
    position absolute
    left 0
    top 0
    width 100%
    height 100%
.action
    padding-top 136rpx
    image
        width 300rpx
        height 262rpx
.btn_wrap2
    padding 262rpx 100rpx 0
// 已登录
.banner
    width 100%
    height 258rpx
.header-main
    position absolute
    width 700rpx
    height 198rpx
    left 25rpx
    top 80rpx
.bg0
    width 100%
    height 100%
.data
    width 100%
    height 100%
    position absolute
    left 0
    top 0
.data-title
    font-size 28rpx
    color #31313f
    font-weight 500
    margin 20rpx 0 0 20rpx
.data-item
    width 33.33%
    text-align center
.item-num
    font-size 40rpx
    font-weight 500
    color #31313f
.item-text
    font-size 24rpx
    color #7E7E81
    margin-top 8rpx
.section
    padding 30rpx 25rpx 0
.title
    color #31313f
    font-size 28rpx
    font-weight 500
.todo-item
    width 222rpx
    height 136rpx
.toDoImg
    width 100%
    height 100%
.todo-item-main
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    box-sizing border-box
    padding 20rpx 20rpx 0
.todo-num
    font-size 36rpx
    color #FF041F
    line-height 50rpx
    margin-top 12rpx
.analysis
    background #ffffff
    border-radius 16rpx
    padding 20rpx 0
.icon
    width 88rpx
    height 88rpx
.newly-added
    background #ffffff
    border-radius 16px
.newly-item
    height 80rpx
    border-bottom 1px solid #f1eff0
    padding 0 20rpx
.newly-store
    width 300rpx
    font-size 28rpx
    color #31313f
    margin-left 20rpx
.btn_wrap
    width 300rpx
.btn-item
    width 104rpx
    height 40rpx
    line-height 40rpx
    text-align center
    background rgba(247, 245, 246, 1)
    border-radius 20rpx
    font-size 20rpx
    color #31313F
    margin 0 8rpx
.btn-item-gray
    color #999
    
