page 
    background: #fff
.add-w
    padding 0 40rpx 0 25rpx
.add-item
    margin-top 30rpx
.aw-l
    width 152rpx
    flex-shrink 0
.aw-inp
    color #31313f
    height 72rpx
    background #F7F5F6
    border-radius 8rpx
    text-indent 20rpx
.aw-inp-pl
    color #BABABA
.aw-r
    width 514rpx
.aw-tag
    padding 0 20rpx
    height 72rpx
    background #F7F5F6
    border-radius 8rpx
    text-align center
    line-height 72rpx
    font-weight 400
    font-size 24rpx
    color #31313f
.curr-aw-tag
    font-weight 500
    color #1677FE
    background rgba(246, 250, 255, 1)
    border 1px solid rgba(22, 119, 254, 1)
.area-wrap
    height 322rpx
    background #F7F5F6
    border-radius 16rpx
    box-sizing border-box
    padding 20rpx
    textarea
        width 100%
        font-size 28rpx
        color #31313f
        height 200rpx
        margin-left 5rpx
        font-size 24rpx
        padding 0 !important
.pl2
    font-size 28rpx
    color #bababa
.edit
    width 28rpx
    height 28rpx
.up-img-wrap
    width 152rpx
    height 152rpx
    margin-right 30rpx
    border-radius 8rpx
    background #F7F5F6
.storeImg
    border-radius 8rpx
.up-img
    width 100%
    height 100%
.camera
    width 50rpx
    height 50rpx
.delimg
    position absolute
    top -6rpx
    right -6rpx
    width 32rpx
    height 32rpx
.add-btn-wrap
    padding 20rpx 58rpx
    heiht 84rpx
    position fixed
    left 0
    bottom 0
    width 100%
    box-sizing border-box
.add-btn
    width 304rpx
    height 80rpx
    background #fff
    border-radius 46px
    border 2px solid #1677FE
    line-height 80rpx
    text-align center
    // box-sizing border-box
    color #1677FE
    font-size 32rpx
    font-weight 500
.add-btn2
    color #ffffff
    background #1677FE