.wrap
    padding 25rpx 25rpx 100rpx
.top
    height 226rpx
    border-radius 16rpx
    background: #fff
.top::after
    content ''
    display block
    width 2rpx
    height 68rpx
    background rgba(241, 239, 240, 1)
    border-radius 1rpx
    position: absolute
    left 50%
    top 50%
    transform: translate(-50%,-50%)

.top-item
    width 50%
    text-align center
.nav-wrap
    padding 25rpx 0
.nav
    width 136rpx
    height 58rpx
    background rgba(255, 255, 255, 1)
    border-radius 8rpx
    text-align center
    line-height 58rpx
    color #31313f
    font-size 24rpx
    box-sizing border-box
.curr-nav
    background rgba(246, 250, 255, 1)
    border-radius 8rpx
    border 1px solid rgba(22, 119, 254, 1)
    font-weight 500
    color #1677FE
.data
    height 388rpx
    image
        width: 100%
        height 100%
.data-main
    position: absolute
    left: 0
    top: 0
    width: 100%
    height 100%
.data-main-sec
    height 50%  
.data-item
    height 100%
    width 50%
    padding-top 64rpx
    box-sizing border-box
.data-item2
    padding-top: 40rpx
.order
    background #ffffff
    border-radius 11rpx
.order-top
    padding 20rpx 20rpx 0 0
    font-size 24rpx
    color 31313f
.dot-wrap
    width: 56rpx
    flex-shrink: 0
.dot
    width 16rpx
    height 16rpx
    border-radius: 50%
// .dot1
//     background #6FD0A4
// .dot2
//     background #7085FE
// .dot3
//     background #FFA0A0
// .dot4
//     background #8EB8FF
// .dot5
//     background #BABABA
.order-r
    height 80rpx
    width 650rpx
.or-1
    width 244rpx
.or-3
    padding-right: 20rpx
.reChoose
    margin-left 20rpx
    color #1677FE




.qiun-padding
    padding 2%
    width 96%
.qiun-wrap
    display flex
    flex-wrap wrap
.qiun-rows
    display flex
    flex-direction row !important
.qiun-columns
    display flex
    flex-direction column !important
.qiun-common-mt
    margin-top 10upx
.qiun-bg-white
    background #FFFFFF
.qiun-title-bar
    width 96%
    padding 10upx 2%
    flex-wrap nowrap
.qiun-title-dot-light
    border-left 10upx solid #0ea391
    padding-left 10upx
    font-size 32upx
    color #000000
.qiun-charts
    width 750upx
    height 500upx
    background-color #FFFFFF
.charts
    width 700upx
    height 500upx
    background-color #FFFFFF













































