page
    padding-bottom 180rpx
    background: #fff
// 搜索
.search-box
    padding 25rpx 25rpx
    background #ffffff
    position fixed
    left 0
    top 0
    width 100%
    height 114rpx
    box-sizing border-box
    z-index 100
.input-wrap
    width 100%
    padding 0 28rpx 0 0
    height 64rpx
    background #F1EFF0
    border-radius 36rpx
    box-sizing border-box
.search-img
    padding 15rpx 0 15rpx 28rpx
    width 30rpx
    height 30rpx
    flex-shrink 0
.inp-left
    width 100%
.search-inp
    height 100%
    width 100%
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 0 20rpx 20rpx
    flex-shrink 0
.se
    color #6A6A70
    font-size 28rpx
    flex-shrink 0
    padding-left 16rpx

//列表
.list
    padding-top 114rpx
.sel-img
    width 32rpx
    height 32rpx
    padding 25rpx
.item
    height 88rpx

.btn_wrap
    padding 0 100rpx 
    position: fixed
    width: 100%
    box-sizing: border-box
    bottom 68rpx
    left 0
    height 84rpx