.input-wrap
    width 100%
    padding 0 28rpx 0 0
    height 64rpx
    background #ffffff
    border-radius 36rpx
    box-sizing border-box
.search-img
    padding 15rpx 0 15rpx 28rpx
    width 30rpx
    height 30rpx
.search-inp
    height 100%
    width 400rpx
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 8rpx 20rpx 20rpx
.add
    color #6A6A70
    font-size 28rpx
    padding-left 16rpx
    flex-shrink 0