page
    background #ffffff
    padding-bottom 180rpx
.top
    height 72rpx
    position fixed
    width 100%
    left 0
    top 0
    z-index 100
.top-item
    widows 50%
    text-align center
    line-height 72rpx
    color #31313F
    font-size 30rpx
.curr-top
    font-weight 500
    color #1677FE
.curr-top::after
    display block
    content ''
    width 102rpx
    height 4rpx
    background rgba(22, 119, 254, 1)
    border-radius 5rpx
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
.main
    margin-top 72rpx
.add-top
    padding 24rpx 0 32rpx 24rpx
.xing
    color #FF662E
.i-item-l
    width 200rpx
    margin-right 16rpx
.i-item-inp
    width 480rpx
    height 72rpx
    background #F7F5F6
    border-radius 8rpx
    padding-left 20rpx
    box-sizing border-box
.pl
    color #999999
.w150
    width 150rpx
.w96
    width 96rpx
.del-img
    width 28rpx
    height 28rpx
    padding 20rpx
.add-btn-wrap-top
    padding 30rpx 100rpx
.add-btn-top
    height 70rpx
    border 1px solid #1677FE
    border-radius 8rpx
    image
        width 28rpx
        height 28rpx
    view
        font-size 28rpx
        color #1677FE
.sel-img
    width 32rpx
    height 32rpx
.add-btn-wrap
    background #fff
    padding 20rpx 58rpx
    heiht 84rpx
    position fixed
    left 0
    bottom 0
    width 100%
    box-sizing border-box
.add-btn
    width 300rpx
    height 80rpx
    background #fff
    border-radius 46px
    border 1px solid #1677FE
    line-height 80rpx
    text-align center
    // box-sizing border-box
    color #1677FE
    font-size 32rpx
    font-weight 500
.add-btn2
    color #ffffff
    background #1677FE
.c-date-img2
    position absolute
    top 50%
    right 20rpx
    transform translateY(-50%)
.time-wrap
    width 480rpx
    background #f7f5f6
    height 72rpx
    border-radius 8rpx
    box-sizing border-box
    view
        height 100%
        line-height 72rpx