page 
    padding-bottom: 100rpx
.top
    height 185rpx
    position fixed
    width 100%
    left 0
    top 0
.top-nav
    height 72rpx
.top-item
    widows 50%
    text-align center
    line-height 72rpx
    color #31313F
    font-size 30rpx
.search1
    padding:25rpx
    background: #F1EFF0
.curr-top
    font-weight 500
    color #1677FE
.curr-top::after
    display block
    content ''
    width 102rpx
    height 4rpx
    background rgba(22, 119, 254, 1)
    border-radius 5rpx
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
.se
    color #6A6A70
    font-size: 28rpx
    flex-shrink: 0
    padding-left: 16rpx
.input-wrap
    width 100%
    padding 0 28rpx 0 0
    height 64rpx
    background #fff
    border-radius 36rpx
    box-sizing border-box
.search-img
    padding 15rpx 0 15rpx 28rpx
    width 30rpx
    height 30rpx
.search-inp
    height 100%
    width 400rpx
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 8rpx 20rpx 20rpx
.main
    margin-top 185rpx

.list
    background #ffffff
    border-radius 16rpx
    padding 0 20rpx
    margin-top 16rpx
.item
    padding 20rpx 0
    border-bottom 1px solid #f1eff0
.store-name
    min-width 400rpx
.mt-x
    margin-top 8rpx
.btn-img
    width 56rpx
    height 56rpx
.phone-img
    margin-right 48rpx
.add
    color #1677FE
    font-size 28rpx
    padding-left 16rpx
    flex-shrink 0
