page 
    padding-bottom 100rpx
.list
    background #ffffff
    border-radius 16rpx
    padding 0 20rpx
    margin-top 16rpx
.item
    padding 20rpx 0
    border-bottom 1px solid #f1eff0
.store-name
    width 500rpx
.mt-x
    margin-top 8rpx
.btn-img
    width 56rpx
    height 56rpx
.phone-img
    margin-right 48rpx