page 
    padding-bottom 20rpx
.list
    background #ffffff
    border-radius 16rpx
    padding 0 20rpx
    margin-top 16rpx
    min-height: 200rpx
.item
    padding 20rpx 0
    border-bottom 1px solid #f1eff0
.store-name
    min-width 430rpx
.mt-x
    margin-top 8rpx
.btn-img
    width 56rpx
    height 56rpx
.phone-img
    margin-right 48rpx
//搜索
.input-wrap
    width 100%
    padding 0 28rpx 0 0
    height 64rpx
    background #ffffff
    border-radius 36rpx
    box-sizing border-box
.search-img
    padding 15rpx 0 15rpx 28rpx
    width 30rpx
    height 30rpx
    flex-shrink 0
.inp-left
    width 100%
.search-inp
    height 100%
    width 100%
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 8rpx 20rpx 20rpx
    flex-shrink 0
.add
    color #1677FE
    font-size 28rpx
    padding-left 16rpx
    flex-shrink 0