page
    padding-bottom 200rpx
.nav
    width 132rpx
    height 58rpx
    background #fff
    border-radius 8rpx
    box-sizing border-box
    color #31313F
    text-align center
    line-height 58rpx
    font-size 24rpx
.curr-nav
    background rgba(246, 250, 255, 1)
    border-radius 8rpx
    border 1px solid rgba(22, 119, 254, 1)
    color #1677FE
.arrow
    width 24rpx
    height 24rpx

.list
    margin-top 194rpx
    padding 0 25rpx
    background-color #fff
.item
    padding 24rpx 0
    border-bottom 1px solid #F1EFF0
.store-img-wrap
    width 128rpx
    height 128rpx
    border-radius 16rpx
    overflow hidden
.store-img
    width 128rpx
    height 128rpx
    border-radius 16rpx
.item-main
    width 545rpx
    margin-left 25rpx
.store-name
    max-width 320rpx
    color #31313f
    font-size 28rpx
.tag
    padding 0 20rpx
    height 30rpx
    line-height 30rpx
    font-size 20rpx
    color #28A443
    border-radius 20rpx
    border 1px solid #B6CDBB
.tag2
    color #1677FE
    border 1px solid #B7CEEE
.tag3
    color #FF662E
    border 1px solid #EDC1B1
.tag4
    color #999999
    border 1px solid #CFCECE
.mt-x
    margin-top 8rpx
.btn-img
    width 56rpx
    height 56rpx
.phone-img
    margin-right 48rpx
.btn0
    width 262rpx
    height 64rpx
    line-height 64rpx
    color #ffffff
    text-align center
    font-size 28rpx
    background rgba(22, 119, 254, 1)
    border-radius 8rpx
.btn1
    background #FF662E
.mask
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    background rgba(0,0,0,.5)
    z-index 90
.filter
    position fixed
    top 190rpx
    left 0
    background #ffffff
    width 100%
    box-sizing border-box
.f-title
    font-size: 24rpx
    color #999999
    height 74rpx
    line-height: 74rpx
    font-weight 400
.f-tag
    width 218rpx
    height 58rpx
    background rgba(247, 245, 246, 1)
    border-radius 8rpx
    color #31313F
    font-size 28rpx
    line-height 58rpx
    text-align center
.curr-f-tag
    background rgba(246, 250, 255, 1)
    color #1677FE
.f-item
    padding 0 25rpx
.mr-y
    margin-right 23rpx
.f-btn-wrap
    margin-top 78rpx
.f-btn
    width 50%
    height 92rpx
    color #31313F
    text-align center
    line-height 92rpx
    font-size: 32rpx
    box-sizing: border-box
.f-btn1
    border-top 1px solid #CFCECE
.f-btn2
    color #ffffff
    background #1677FE

// 搜索框
.input-wrap
    width 100%
    padding 0 28rpx
    height 64rpx
    background #ffffff
    border-radius 36rpx
    box-sizing border-box
.search-img
    width 30rpx
    height 30rpx
.search-inp
    height 100%
    width 400rpx
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 8rpx 20rpx 20rpx
.add
    color #1677FE
    font-size 28rpx
    padding-left 16rpx
    flex-shrink 0
.status
    width:128rpx
    height:40rpx
    font-size: 22rpx
    color #ffffff
    line-height: 40rpx
    text-align center
    background-color: #999
    position: absolute
    left 0
    bottom: 0
.status2
    background linear-gradient(117deg, rgba(49, 175, 255, 1) 0%, rgba(22, 119, 254, 1) 100%)

