page
    padding-bottom 200rpx
.nav
    width 132rpx
    height 58rpx
    background #fff
    border-radius 8rpx
    box-sizing border-box
    color #31313F
    text-align center
    line-height 58rpx
    font-size 24rpx
.curr-nav
    background rgba(246, 250, 255, 1)
    border-radius 8rpx
    border 1px solid rgba(22, 119, 254, 1)
    color #1677FE
.arrow
    width 24rpx
    height 24rpx

.list
    margin-top 194rpx
    padding 0 25rpx
    background-color #fff
.item
    padding 24rpx 0
.store-img
    width 128rpx
    height 128rpx
    border-radius 16rpx
.item-main
    width 545rpx
    margin-left 25rpx
.store-name
    width 330rpx
    color #31313f
    font-size 28rpx
.tag
    padding 0 20rpx
    height 40rpx
    line-height 40rpx
    font-size 20rpx
    color #28A443
    border-radius 20rpx
    border 1px solid #B6CDBB
    box-sizing border-box
.tag2
    color #1677FE
    border 1px solid #B7CEEE
.tag3
    color #EDC1B1
    border 1px solid #FF662E
.tag4
    color #999999
    border 1px solid #CFCECE
.mt-x
    margin-top 8rpx
.btn-img
    width 56rpx
    height 56rpx
.phone-img
    margin-right 48rpx
.btn0
    width 262rpx
    height 64rpx
    line-height 64rpx
    color #ffffff
    text-align center
    font-size 28rpx
    background rgba(22, 119, 254, 1)
    border-radius 8rpx
.btn1
    background #FF662E