page 
    background: #fff
    padding-bottom: 180rpx
.top-wrap
    background: #fff
.input-wrap
    width 100%
    padding 0 28rpx 0 0
    height 64rpx
    background #f1eff0
    border-radius 36rpx
    box-sizing border-box
.search-img
    padding 15rpx 0 15rpx 28rpx
    width 30rpx
    height 30rpx
    flex-shrink 0
.inp-left
    width 100%
.search-inp
    height 100%
    width 100%
    margin-left 8rpx
    font-size 28rpx
    color #31313f
.pl
    color #bababa
.search-del
    width 30rpx
    height 30rpx
    padding 20rpx 8rpx 20rpx 20rpx
    flex-shrink 0

.t-header
    font-size: 28rpx
    font-weight: bold
    text-align center
    height 86rpx
    line-height: 88rpx
.t-body-wrap
    min-height: 88rpx
    font-size: 28rpx
    font-weight: 400
    color #31313f
.t-body1
    width: 134rpx;
.t-body2
    width 318rpx
    text-align: center
    view 
        line-height: 40rpx
.t-body3 view 
    width 167rpx
    text-align: center
.t-body3 image
    margin-left 20rpx
.sel-img
    width 32rpx
    height 32rpx
    padding 25rpx
.btn_wrap
    padding 0 100rpx
    position fixed
    width 100%
    box-sizing border-box
    bottom 68rpx
    left 0
    height 84rpx